*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #222;
}
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

body {
    background-image: url('./travel_recommendation.jpeg'); /* Update the filename if needed */
    background-size: cover; /* Makes the image cover the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Makes sure it covers the full viewport */
    margin: 0;
    padding: 10vh;
}

h1 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  div {
    margin-bottom: 10px;
    margin-top: 10px;
  }
